<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
        <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core" />
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    
    <igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection" localhost="127.0.0.1">

        <discoverySpi type="TcpDiscoverySpi" socketTimeout="0:0:0.2">
            <ipFinder type="TcpDiscoveryMulticastIpFinder">
                <endpoints>
                    <string>127.0.0.1:47500</string>
                </endpoints>
            </ipFinder>
        </discoverySpi>
    </igniteConfiguration>

</configuration>